####################################
# 🦎 KOMODO COMPOSE - VARIABLES 🦎 #
####################################

## Copy to /opt/komodo/compose.env and fill in the secrets.
## Store the actual secret values in a password manager - needed for disaster recovery.

## Follows "major.minor.patch" semver.
COMPOSE_KOMODO_IMAGE_TAG="2"
## Store dated database backups on the host - https://komo.do/docs/setup/backup
COMPOSE_KOMODO_BACKUPS_PATH=/data/config/management/komodo/backups

## DB credentials
KOMODO_DATABASE_USERNAME=admin
KOMODO_DATABASE_PASSWORD=<generate: openssl rand -hex 32>

## Set your time zone for schedules
## https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
TZ=Europe/Madrid

#=-------------------------=#
#= Komodo Core Environment =#
#=-------------------------=#

## Full variable list + descriptions are available here:
## 🦎 https://github.com/moghtech/komodo/blob/main/config/core.config.toml 🦎

## Used for Oauth / Webhook url suggestion.
KOMODO_HOST=http://<komodo-ip>:9120
## Displayed in the browser tab.
KOMODO_TITLE=Homelab

## Allow Periphery to connect via generated public key
KOMODO_PERIPHERY_PUBLIC_KEY=file:/config/keys/periphery.pub

## Enable login with username + password.
KOMODO_LOCAL_AUTH=true
## Set the initial admin username created upon first launch.
KOMODO_INIT_ADMIN_USERNAME=admin
## Set the initial admin password
KOMODO_INIT_ADMIN_PASSWORD=<generate: openssl rand -hex 16>

## Create a first Server with a custom name.
KOMODO_FIRST_SERVER_NAME=Local

## Make execute buttons just double-click, rather than the full confirmation dialog.
KOMODO_DISABLE_CONFIRM_DIALOG=false

## Disable creating the default Procedures on first startup.
KOMODO_DISABLE_INIT_RESOURCES=false

## Used to auth incoming webhooks. Alt: KOMODO_WEBHOOK_SECRET_FILE
KOMODO_WEBHOOK_SECRET=<generate: openssl rand -hex 32>
## Used to generate jwt. Alt: KOMODO_JWT_SECRET_FILE
KOMODO_JWT_SECRET=<generate: openssl rand -hex 32>
## Time to live for jwt tokens.
## Options: 1-hr, 12-hr, 1-day, 3-day, 1-wk, 2-wk
KOMODO_JWT_TTL="1-day"

## Rate Komodo polls your servers for status / container status / system stats / alerting.
## Options: 1-sec, 5-sec, 15-sec, 1-min, 5-min, 15-min
KOMODO_MONITORING_INTERVAL="15-sec"
## Interval at which to poll Resources for any updates / automated actions.
## Options: 5-min, 15-min, 1-hr, 2-hr, 6-hr, 12-hr, 1-day
KOMODO_RESOURCE_POLL_INTERVAL="1-hr"

## Disable new user signups.
KOMODO_DISABLE_USER_REGISTRATION=true
## All new logins are auto enabled
KOMODO_ENABLE_NEW_USERS=false
## Disable non-admins from creating new resources.
KOMODO_DISABLE_NON_ADMIN_CREATE=false
## Allows all users to have Read level access to all resources.
KOMODO_TRANSPARENT_MODE=false

## OIDC Login
KOMODO_OIDC_ENABLED=false
# KOMODO_OIDC_PROVIDER=https://oidc.provider.internal/application/o/komodo
# KOMODO_OIDC_REDIRECT_HOST=https://oidc.provider.external
# KOMODO_OIDC_CLIENT_ID=
# KOMODO_OIDC_CLIENT_SECRET=

## Github Oauth
KOMODO_GITHUB_OAUTH_ENABLED=false
# KOMODO_GITHUB_OAUTH_ID=
# KOMODO_GITHUB_OAUTH_SECRET=

## Google Oauth
KOMODO_GOOGLE_OAUTH_ENABLED=false
# KOMODO_GOOGLE_OAUTH_ID=
# KOMODO_GOOGLE_OAUTH_SECRET=

## Aws - Used to launch Builder instances.
KOMODO_AWS_ACCESS_KEY_ID=
KOMODO_AWS_SECRET_ACCESS_KEY=

KOMODO_LOGGING_PRETTY=false
KOMODO_PRETTY_STARTUP_CONFIG=false

#=------------------------------=#
#= Komodo Periphery Environment =#
#=------------------------------=#

## Full variable list + descriptions are available here:
## 🦎 https://github.com/moghtech/komodo/blob/main/config/periphery.config.toml 🦎

PERIPHERY_CORE_ADDRESS=ws://core:9120
PERIPHERY_CONNECT_AS=${KOMODO_FIRST_SERVER_NAME}
PERIPHERY_CORE_PUBLIC_KEYS=file:/config/keys/core.pub

## All your compose files and repos must live inside this directory.
PERIPHERY_ROOT_DIRECTORY=/data/config/management/komodo/periphery

PERIPHERY_DISABLE_TERMINALS=false
PERIPHERY_DISABLE_CONTAINER_TERMINALS=false

## Whitelist only the root disk to avoid overreporting.
PERIPHERY_INCLUDE_DISK_MOUNTS=/etc/hostname

PERIPHERY_LOGGING_PRETTY=false
PERIPHERY_PRETTY_STARTUP_CONFIG=false
